<form action="/" method="POST" style="text-align: center">
  <h1>Account Login</h1>
  <input type="email" name="email" style="margin: 10px 0">
  <br>
  <input type="password" name="password" style="margin: 10px 0">
  <br>
  <button type="submit" style="margin: 20px 0">Sign in</button>
</form>